/*
 * MWS Admin v2.1 - Shared Stylesheet
 * This file is part of MWS Admin, an Admin template build for sale at ThemeForest.
 * All copyright to this file is hold by Mairel Theafila <maimairel@yahoo.com> a.k.a nagaemas on ThemeForest.
 * Last Updated:
 * December 08, 2012
 *
 */

/* Grid - Fluid grid System
-------------------------------------------------------------- */

.container {
    width: 92%;
    margin: 0 auto;
    position: relative;
}

.grid_1, .grid_2, .grid_2_5, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8 {
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    min-width:300px;
}

.grid_1 {
    width: 10.5%;
}

.grid_2 {
    width: 23%;
}

.grid_2_5 {
/*     width: 35.5%; */
    display: inline-block;
	vertical-align: top;
	float:none;
	max-width:380px;
	min-width:380px;
}

.grid_3 {
    width: 35.5%;
}

.grid_4 {
    width: 48%;
}

.grid_5 {
    width: 60.5%;
}

.grid_6 {
    width: 73%;
}

.grid_7 {
    width: 85.5%;
}

.grid_8 {
    width: 98.0%;
}

audio,
img,
video {
    max-width: 100%;
}

/* Responsive Fluid grid
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
    .grid_1,.grid_2,.grid_2_5,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8 {
        float: none;
        width: 100%;
        max-width:none;
    }
}

/* Inset Effect
================================================== */

.mws-inset {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Body
================================================== */

html, body {
    height: 100%;
}

body {
    color: #333;
    background-color: #f0f0f0;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    min-width: 320px;
}

.clear {
    clear: both;
}
